.heading-1 {
    font-size: 6rem;
    color:  $color-text-grey-dark1;
}

.heading-2 {
    font-size: 4rem;
    color:  $color-text-grey-dark1;
}

.heading-3 {
    font-size: 3rem;
    color:  $color-text-grey-dark1;

}

.heading-4 {
    font-size: 1.8rem;
}