.btn {
  display: inline-block;
  width: 25rem;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 .9rem $dodgerblue--dark;
  transition: all 0.2s ease-in-out;

  &--circle {
    color: $color-white;
    background-color: $dodgerblue;
    width: 3rem;
    height: 3rem;
    padding: 0;
    box-shadow: none;
    border-radius: 50%;
  }

  &:hover,
  &:active {
    box-shadow: 0 .5rem $dodgerblue--dark;
    transform: translateY(.4rem);
  }
}
.btnGeo {
  width: 45%;
  margin: 1%;

  //indicate the correct and incorrect user inputs
  &--correct:disabled {
    background: $green;
    box-shadow: 0 0.9rem $green--dark;
  }

  &--incorrect:disabled {
    background: $red;
    box-shadow: 0 0.9rem $red--dark;
  }
}
