.container {
  display: none;
  position: absolute;
  top: 120%;
  background: white;
  transform: translate(-50%, -50%) scale(0.2);
  padding: 3rem;
  max-width: 3rem;
  height: 3rem;
  border-radius: 50%;

  &-lg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & * {
    opacity: 0;
  }

  &--invisible {
    display: inline-block;
    top: 50%;
    left: 50%;
    max-width: 90rem;
    min-height: 60rem;
    border-radius: 2rem;
    z-index: 20;
    padding: 3rem;
    transform: translate(-50%, -50%) scale(1);
   
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    animation: flipOut 1s ease-in-out 2s 1 forwards;
    & * {
      opacity: 1;
      animation: fadeOut 1s ease-in-out 1s 1 forwards;
    }
  }

  &--visible {
    display: inline-block;
    animation: flipUp 1s ease-in-out 1s 1 forwards;
    & * {
      opacity: 1;
      animation: fadeIn 1s ease-in-out 1s 1 forwards;
    }
  }

  &__sub {
    padding: 1rem;
    text-align: center;
    margin: auto;
    &--thin {
      width: 50%;
    }
    &--ui {
      @media only screen and (max-width:$bp-small) {
       margin-top: -2rem;
      }
    }
  }
}
