.medal {
  &__coin {
    color: white;
    position: relative;
    width: 15rem;
    height: 15rem;
    font-size: 2.5rem;
    line-height: 13rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 1rem solid white;
    z-index: 2;
  }

  &__ribbon {
    position: absolute;
    width: 17rem;
    height: 5rem;
    &--left {
      transform: rotate(70deg) translate(-20rem, -1rem);
    }

    &--right {
      transform: rotate(110deg) translate(-19rem, 3rem)
    }
  }
}
//medal css generation
@include colorMedal($platinum);
@include colorMedal($gold);
@include colorMedal($silver);
@include colorMedal($bronze);
@include colorMedal($wood);