.feedback {
  text-align: center;

  &__heading > * {
    float: left;
  }

  &__table {
    position: relative;
    height: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 5rem;
    &-heading {
      position: fixed;
      margin-top: -15rem;
      margin: auto;
      transform: translate(0, -5rem);
      width: 92.5%;
      background: $color-white;
      z-index: 20;
    }

    &-body:before {
      margin-top: 3rem;
    }
    &-correct {
      width: 11.5%;
    }
    &-flag {
      width: 17.5%;
    }
    &-correct-answer {
      width: 35%;
    }

    &-your-answer {
      width: 35%;
    }
  }
  &__medal {
    display: inline-block;
  }

&__message {
  display: inline-block;
  line-height: 15rem;
}

  &__container {
    height: 50rem;
  }
  &__image {
    height: 4rem;
    border: 2px solid $color-text-grey-light1;
  }

  &__btn {
    width: 30%;
    margin: 1rem 1%;
  }
}
