.quiz {
  text-align: center;

  &__ui {
    text-align: right;
  }

  &__flag-image {
    height: 28rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &__question {
    margin-top: -5rem;
  }

  &__counter {
    font-size: 3rem;
  }

  &__container {
    height: 38rem;
  }

  &__text {
    margin:0 auto;
    width: 75%;
  }
}
